body{
    background: #0dcaf0;
}
.overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.8);
}
.card{
    background: url("../media/offhome.jpg") no-repeat;
    background-size: cover;
}